//
//  This is free and unencumbered software released into the public domain.
//
//  Anyone is free to copy, modify, publish, use, compile, sell, or
//  distribute this software, either in source code form or as a compiled
//  binary, for any purpose, commercial or non-commercial, and by any
//  means.
//
//  In jurisdictions that recognize copyright laws, the author or authors
//  of this software dedicate any and all copyright interest in the
//  software to the public domain. We make this dedication for the benefit
//  of the public at large and to the detriment of our heirs and
//  successors. We intend this dedication to be an overt act of
//  relinquishment in perpetuity of all present and future rights to this
//  software under copyright law.
//
//  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
//  EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
//  MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
//  IN NO EVENT SHALL THE AUTHORS BE LIABLE FOR ANY CLAIM, DAMAGES OR
//  OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
//  ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
//  OTHER DEALINGS IN THE SOFTWARE.
//
//  For more information, please refer to <http://unlicense.org/>
//

WRAPPER_PREFIX =;
WRAPPER_SUFFIX = .framework
WRAPPER_NAME = $(WRAPPER_PREFIX)$(PRODUCT_NAME)$(WRAPPER_SUFFIX)
VERSIONS_FOLDER_PATH = $(WRAPPER_NAME)/Versions
CONTENTS_FOLDER_PATH = $(VERSIONS_FOLDER_PATH)/$(FRAMEWORK_VERSION)
FRAMEWORKS_FOLDER_PATH = $(CONTENTS_FOLDER_PATH)/Frameworks
UNLOCALIZED_RESOURCES_FOLDER_PATH = $(CONTENTS_FOLDER_PATH)/Resources
CODESIGNING_FOLDER_PATH = $(TARGET_BUILD_DIR)/$(CONTENTS_FOLDER_PATH)

CURRENT_VERSION = Current
EXECUTABLE_PREFIX =;
EXECUTABLE_SUFFIX =;
EXECUTABLE_NAME = $(EXECUTABLE_PREFIX)$(PRODUCT_NAME)$(EXECUTABLE_VARIANT_SUFFIX)$(EXECUTABLE_SUFFIX)
EXECUTABLE_FOLDER_PATH = $(CONTENTS_FOLDER_PATH)
EXECUTABLE_PATH = $(EXECUTABLE_FOLDER_PATH)/$(EXECUTABLE_NAME)
INFOPLIST_PATH = $(UNLOCALIZED_RESOURCES_FOLDER_PATH)/Info.plist;
INFOPLISTSTRINGS_PATH = $(LOCALIZED_RESOURCES_FOLDER_PATH)/InfoPlist.strings;
PKGINFO_PATH = $(WRAPPER_NAME)/PkgInfo
PBDEVELOPMENTPLIST_PATH = $(CONTENTS_FOLDER_PATH)/pbdevelopment.plist
VERSIONPLIST_PATH = $(UNLOCALIZED_RESOURCES_FOLDER_PATH)/version.plist
PUBLIC_HEADERS_FOLDER_PATH = $(CONTENTS_FOLDER_PATH)/Headers
PRIVATE_HEADERS_FOLDER_PATH = $(CONTENTS_FOLDER_PATH)/PrivateHeaders
EXECUTABLES_FOLDER_PATH = $(LOCALIZED_RESOURCES_FOLDER_PATH)
FRAMEWORKS_FOLDER_PATH = $(CONTENTS_FOLDER_PATH)/Frameworks
SHARED_FRAMEWORKS_FOLDER_PATH = $(CONTENTS_FOLDER_PATH)/SharedFrameworks
SHARED_SUPPORT_FOLDER_PATH = $(UNLOCALIZED_RESOURCES_FOLDER_PATH)
UNLOCALIZED_RESOURCES_FOLDER_PATH = $(CONTENTS_FOLDER_PATH)/Resources
LOCALIZED_RESOURCES_FOLDER_PATH = $(UNLOCALIZED_RESOURCES_FOLDER_PATH)/$(DEVELOPMENT_LANGUAGE).lproj
DOCUMENTATION_FOLDER_PATH = $(LOCALIZED_RESOURCES_FOLDER_PATH)/Documentation
PLUGINS_FOLDER_PATH = $(UNLOCALIZED_RESOURCES_FOLDER_PATH)
SCRIPTS_FOLDER_PATH = $(UNLOCALIZED_RESOURCES_FOLDER_PATH)/Scripts
JAVA_FOLDER_PATH = $(UNLOCALIZED_RESOURCES_FOLDER_PATH)/Java
CODESIGNING_FOLDER_PATH = $(TARGET_BUILD_DIR)/$(CONTENTS_FOLDER_PATH)
